*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  background-color: rgb(54, 189, 189);
}

.memory-game{
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; /*para quando os elementos não couberam mais na linha, ele "cairem" */
  perspective: 1000px; /*perspectiva do usuário no eixo Z (para causar o efeito 3D)*/
}

.card{
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
  cursor: pointer;
  transform: scale(1); /*vai preservar o tamanho original dele quando clicar*/
  transform-style: preserve-3d; /*não deixa o elemento achatado no plano*/
  transition: transform .9s;
}

.card:active{
  transform: scale(0.97);
  transition: transform .3s;
}

.card-front, 
.card-back{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ffffff;
  backface-visibility: hidden;/*uma propriedade que retira o verso do elemento*/
}

.card-front{
  transform: rotateY(180deg);
}

/*flip card animation*/
.card.flip{
  transform: rotateY(180deg);
}